---
import Tour from '../components/Tour.astro';

let title = 'Earn Free Robux Online';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Rewards and Earn Points Toward Robux Today : Free Roblox Robux Generator ">
  <meta name="keywords" content="get free robux, robux codes, free roblox codes,free robux codes, how to get free robux, free roblox codes">
  <meta name="author" content="Earn Free Robux">
  <meta name="viewport" content="Earn Free Robux, get free robux">
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167371512-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3RPFKXEKDD');
    </script>
  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <main>
    <header>
      <div>
      <img class="Earn Free Robux"
     src="https://images.rbxcdn.com/1b5c5cf6a41252d3f36d2651756a638b-money_man.png"
     alt="how to get free robux">
        <h1> Get FREE Robux Easily 🚀 <a href="https://iau.me/freerobux"> Roblox</a></h1>

      </div>
    </header>

    <Tour />
  </main>
</body>
</html>
