---
import Tour from '../components/Tour.astro';

let title = 'Earn Free Robux!';
---

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{title}</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/style/global.css">
  <link rel="stylesheet" href="/style/home.css">
</head>

<body>
  <main>
    <header>
      <div>
      <img class="Earn Free Robux"
     src="https://images.rbxcdn.com/1b5c5cf6a41252d3f36d2651756a638b-money_man.png"
     alt="how to get free robux">
        <h1> Get FREE Robux Easily 🚀 <a href="https://astro.build/"> Roblox</a></h1>

      </div>
    </header>

    <Tour />
  </main>
</body>
</html>
